services:
  # Backend
  - type: web
    name: bookmyflix-backend
    env: node
    plan: free
    buildCommand: npm install
    startCommand: npm start
    envVars:
      - key: MONGO_URI
        sync: false

  # Frontend
  - type: web
    name: bookmyflix-frontend
    env: static
    plan: free
    rootDir: client
    buildCommand: npm install && npm run build
    staticPublishPath: dist
    envVars:
      - key: VITE_API_URL
        value: https://movie-ticket-booking-g35g.onrender.com/
